.tg{
    display: flex;
    padding:10px 20px 10px 50px;
    margin-top: 100px;
    margin-bottom: 80px;
}
.tg-head{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.1rem;
    font-family: var(--tertiary_font);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 30px;
}
.tg-cards{
    display: inline-block;
    align-items: center;
    text-align: center;
}