.recent{
    display: flex;
    margin:50px 10px 50px 25px;
}
.rct-title{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.1rem;
    font-family: var(--tertiary_font);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 30px;
}