@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Caveat&family=Turret+Road:wght@200&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --primary: #1F2833;
  --assent: #334051;
  --white: #F6F9F9;
  --btn_primary: #CB72FE;
  --color1: #D6F8FF;
  --color2: #FBE6EF;
  --color3: #FEEAB9;
  --color4: #D1F8F0;
  --color5: #FDDFD8;
  --primary_font: 'Akaya Kanadaka', cursive;
  --secondary_font: 'Caveat', cursive;
  --tertiary_font: 'Turret Road', cursive;
  --tags:#334051;
}
.link{
  text-decoration: none;
  color: var(--white);
}