.card{
    padding: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 40px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    text-align: start;
}
.img>img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}
.card_data{
    margin: 0px 0px 0px 10px;
}
.card_title{
    max-width: 170px;
    font-family: var(--primary_font);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 0px 10px 0px ;
}
.author{
    font-family: var(--secondary_font);
    font-size: 1.5rem;
    max-width: 100px;
    margin-bottom: 3px;
}
.author:hover{
    border-bottom: 1px solid var(--tags);
    margin-bottom: 2px;
}
